@model MVCSTOK.Models.Entity.Tbl_Kategori
@{
    ViewBag.Title = "KategoriGetir";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm("Guncelle", "Kategori", FormMethod.Post))
{ 

    <div class="form-group">
        @Html.LabelFor(m => m.KategoriId)
        @Html.TextBoxFor(m => m.KategoriId, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.KategoriAd)
        @Html.TextBoxFor(m => m.KategoriAd, new { @class = "form-control" })
    </div>
<div class="form-group">
    <button class="btn btn-success">KATEGORİ GÜNCELLE</button>
</div>

}
